.but_close{
    -fx-background-color: rgb(14,17,17);
    -fx-background-image: url("/images/X-icon.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.but_close:hover{
    -fx-background-color: rgba(200,8,21,0.2);
}
