.bu_minimaze{
    -fx-background-color: rgb(14,17,17);
    -fx-background-image: url("/images/_-icon.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.bu_minimaze:hover{
    -fx-background-color: rgba(23,114,69,0.2);
}
